.news {
  padding: 40px 0;
  text-align: center;
}

.news h2 {
    font-weight: bolder;
  margin-bottom: 24px;
}

.news-list {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.news-card {
  text-align: left;
}

.news-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.news-card h4 {
  margin: 10px 0 6px;
  font-weight: bolder;
}

.news-card p {
  font-size: 14px;
  color: #555;
}

@media (max-width: 992px) {
  .news-list {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
}

@media (max-width: 576px) {
  .news-list {
    grid-template-columns: 1fr;
  }
}
